<nav class="nav-menu">
    <a href="/" class="brand">Trivia Whip</a>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Title</NavLink></li>
        <li><NavLink href="/categories">Categories</NavLink></li>
        <li><NavLink href="/settings">Settings</NavLink></li>
        <li><NavLink href="/store">Store</NavLink></li>
        <li><NavLink href="/leaderboard">Leaderboard</NavLink></li>
        <li><NavLink href="/feedback">Feedback</NavLink></li>
    </ul>
</nav>
